<table ng-if="showData"  class="table table-striped">
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>Current Temperature:</td>
      <td>{{currentTemp}} &#8457;</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Current Visibility:</td>
      <td>{{currentVisibility}} Miles</td>

    </tr>
    <tr>
      <th scope="row"></th>
      <td>Current Wind Speed:</td>
      <td>{{currentWindSpeed}} Mph</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Wind Bearing:</td>
      <td>{{currentWindDirection}} &deg</td>
    </tr>
  </tbody>
</table>
